@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbfb;
  --foreground: #171717;

  --primary-title-font-size: 1.375rem; /* 22px / 16 */
  --primary-font-size: 0.875rem; /* 14px / 16 */
  --small-font-size: 0.75rem; /* 12px / 16 */
  --smaller-font-size: 0.625rem; /* 10px / 16 */

  --caption-default: 0.75rem; /* 12px / 16 */
  --caption-small: 0.625rem; /* 10px / 16 */

  --body-small: 0.875rem; /* 14px / 16 */
  --body-default: 1rem; /* 16px / 16 */
  --body-large: 1.125rem; /* 18px / 16 */

  --heading-small: 1.25rem; /* 20px / 16 */
  --heading-default: 1.5rem; /* 24px / 16 */
  --heading-large: 2.375rem; /* 38px / 16 */

  --font-bold-xl: 600;
  --font-bold-lg: 500;
  --font-regular: 400;
  --font-light: 300;
  --font-lighter: 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
